@font-face {
    font-family: 'font-dms';
    src: url('./assets/fonts/DMSans-VariableFont_opsz,wght.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'font-dms';
    src: url('./assets/fonts/DMSans-VariableFont_opsz,wght.ttf');
    font-style: normal;
    font-weight: 500;
}

:root {
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

* {
    padding: 0;
    font: inherit;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'font-dms';
    font-weight: 400;
    background-color: rgb(58 51 105);
}

img {
    width: 100%;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
    border-radius: 1rem;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 3rem;
    background-color: rgb(58 51 105);
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(7, auto);
    gap: 2rem;
}

.create {
    background-color: var(--Yellow-100);
}

.social,
.followers {
    background-color: var(--Purple-500);
}

.manage,
.percentage {
    background-color: var(--White);
}

.content-ai,
.maintain {
    background-color: var(--Yellow-500);
}

.schedule {
    background-color: var(--Purple-100);
}

/* CREATE CARD */
.create {
    grid-column: span 2;
    grid-row: span 3;
    display: flex;
    flex-wrap: wrap;
    padding: 6rem 2rem;
    gap: 2rem;
}
.des-create {
    font-size: 3.3rem;
    line-height: 3.3rem;
    font-weight: 500;
}
.special-el {
    color: var(--Purple-500);
    font-style: italic;
}
/* END CREATE CARD */
/* SOCIAL CARD */
.social {
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 3rem;
    color: var(--White);
}
.title-social {
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
    line-height: 4.5rem;
    margin-bottom: 1.8rem;
}
.special-10x {
    color: var(--Yellow-500);
}
.italic {
    font-style: italic;
}
.five-stars {
    width: 16rem;
    margin-bottom: 0.5rem;
}
/* END SOCIAL CARD */
/* SCHEDULE CARD */
.schedule {
    grid-column: span 2;
    grid-row: span 4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 2.8rem;
}
.title-schedule {
    font-size: 2.5rem;
    line-height: 2.2rem;
    font-weight: 500;
}
.schedule-active {
    width: 31rem;
    height: 26rem;
}
.des-schedule {
    line-height: 2rem;
}
/* END SCHEDULE CARD */
/* CONTENT AI CARD */
.content-ai {
    grid-column: span 2;
    grid-row: 4 / -1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2.5rem 1.8rem;
    font-weight: 500;
    overflow: hidden;
}
.title-ai {
    font-size: 3.5rem;
    line-height: 3.2rem;
}
.ai-post {
    width: 19.3rem;
    height: 21.5rem;
}
/* END CONTENT AI */
/* MANAGE CARD */
.manage {
    grid-column: span 2;
    grid-row: 3 / 5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    font-weight: 500;
}
.platforms-img {
    width: 27rem;
    height: 7.5rem;
}
.title-manage {
    font-size: 3.4rem;
    line-height: 3rem;
}
/* END MANAGE CARD */
/* MAINTAIN CARD */
.maintain {
    grid-column: span 2;
    grid-row: 3 / 5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
}
.title-maintain {
    font-size: 3rem;
}
/* END MAINTAIN CARD */
/* PERCENTAGE CARD */
.percentage {
    grid-column: span 2;
    grid-row: 5 / -1;
    display: flex;
    flex-direction: column;
    padding: 1.8rem;
}
.title-percentage {
    font-weight: 500;
    font-size: 5.5rem;
}
.des-percentage {
    margin-bottom: 4rem;
}
.audience-img {
    width: 16rem;
}
/* END PERCENTAGE CARD */
/* FOLLOWERS CARD */
.followers {
    grid-column: span 4;
    grid-row: 5 / -1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--White);
    padding: 1.8rem;
}
.followers-img {
    width: 23rem;
    height: 20rem;
}
.title-followers {
    font-weight: 500;
    font-size: 2.7rem;
}
/* END FOLLOWERS CARD */
/* FOOTER */
.attribution {
    font-size: 1.6rem;
    color: var(--White);
    text-align: center;
    margin-bottom: 4rem;
}
.attribution a:link {
    font-size: 2rem;
    color: var(--White);
}
/* MEDIA QUERY */
@media (min-width: 370px) and (max-width: 1044px) {
    .container {
        text-align: center;
        max-width: 45rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .create {
        gap: 4rem;
        padding: 4rem;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .create-post {
        width: 25rem;
    }
    .des-schedule {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
    .content-ai {
        align-items: center;
    }
    .manage {
        gap: 2rem;
        align-items: center;
    }
    .title-manage {
        margin-bottom: 2rem;
    }
    .platforms-img {
        width: 36rem;
    }
    .maintain {
        gap: 2rem;
    }
    .percentage {
        align-items: center;
    }
    .des-percentage {
        margin-bottom: 1rem;
    }
    .audience-img {
        width: 19rem;
    }
    .followers {
        flex-direction: column;
        gap: 2rem;
    }
    .title-followers {
        order: -1;
        font-size: 4rem;
    }
    .attribution a:link {
        font-size: 1.6rem;
        color: var(--White);
    }
}
